@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @apply font-secondary text-[22px] text-secondary; 
}

a {
    @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-primary text-primary;
}

.h1 {
    @apply text-[64px] lg:text-[84px] leading-none;
}

.h2 {
    @apply text-[50px] leading-tight;
}

.h3 {
    @apply text-[25px];
}

.btn {
    @apply h-[75px] px-[30px] translate-all duration-300 text-white rounded-[18px]
    flex items-center gap-2;
}

.btn-primary {
    @apply bg-primary hover:bg-primary-hover;
}

.btn-accent {
    @apply bg-accent hover:bg-accent-hover;
}




